{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/github"
  ],
  "verifyRelease": [
    [
      "@semantic-release/exec",
      { "cmd": "echo ${nextRelease.version} > version.txt" }
    ]
  ],
  "branches":[
    {
      "name": "main"
    },
    {
      "name": "193-implement-semantic-release"
    }
  ]
}
